* {
    font-family: "Inter", sans-serif;
}
html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
html {
    height: -webkit-fill-available;
}
body {
    background-color: #f5e8d9 !important;
    margin: 0 auto;
    overflow-x: hidden;
    height: -webkit-fill-available;
}
.bg-custom {
    background-color: #ff800042;
}
.navbar {
    background-color: transparent;
    padding-left: calc(7%) !important;
    padding-right: calc(7%) !important;
    padding-top: 10px;
    padding-top: 15px !important;
}
.navbar-custom {
    background-color: #f5e8d9;
}
.navbar-brand {
    font-weight: 700;
}
.navbar-nav {
    gap: 30px;
}
.nav-link {
    font-weight: 600 !important;
    cursor: pointer;
}
.nav-link:hover {
    color: #ff8000 !important;
}
.hero-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 400px;
    justify-content: space-between;
    margin-left: calc(7%);
    margin-right: calc(7%);
}
.hero-left {
    height: 350px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}
.hero-left>h1,.hero2-right>h1,.services-cards>h1,.contact-box>h2 {
    font-weight: 700;
    font-size: clamp(25px,3vw,50px);
}
.services-cards>h1 {
    color: whitesmoke;
}
.contact-box>h2 {
    color: whitesmoke;
}
.hero-left>p {
    max-width: 440px;
    font-size: clamp(5px,3vw,14px);
    text-align: start;
}
.hero2-right>p,.c-left>p {
    font-size: clamp(5px,3vw,15px);
    text-align: start;
}
.services-left>p {
    font-size: clamp(5px,3vw,14px);
    max-width: 800px;
}
.hero-right>img {
    height: 400px;
    margin-top: -10px;
}
@media only screen and (min-width:1059px) and (max-width:1340px) {
    .hero-right>img {
        height: 320px !important;
    }
}
@media only screen and (max-width:1058px) {
    .hero-right>img {
        height: 220px !important;
    }
    .hero-left {
        height: 250px !important;
    }
}
@media only screen and (min-width:890px) and (max-width:1057px) {
    .hero-section {
        height: auto;
        padding-bottom: 20px;
    }
}
@media only screen and (max-width:889px) {
    .hero-section {
        justify-content: center !important;
        height: 500px;
    }
    .inline-block {
        text-align: center;
    }
    .hero-left>h1,p,.hero2-right>h1,p {
        text-align: center !important;
    }
    .cta {
        margin: auto;
    }
    .img {
        height: 300px !important;
    }
    .hero-2 {
        grid-template-columns: 1fr !important;
        gap: 40px !important;
    }
    .hero2-right {
        height: 300px !important;
    }
}
@media only screen and (max-width:750px) {
    .services-section {
        grid-template-columns: 1fr !important;
        text-align: center;
    }
    .contact {
        grid-template-columns: 1fr !important;
    }
}
@media only screen and (max-width:400px) {
    .services-right>img {
        height: 250px;
    }
}
@media only screen and (max-width:767px) {
    .nav-link {
        text-align: center;
    }
    .navbar-nav {
        padding-top: 20px;
        gap: 20px 
        !important;
    }
}
.cta {
  position: relative;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
  cursor: pointer;
  text-align: start;
}
.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #ff8000;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
}

.cta span {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #234567;
}

.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #234567;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.cta:hover:before {
    width: 170px;
  background: #ff8000;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active {
  transform: scale(0.95);
}
.hero-2 {
    margin-left: calc(7%);
    margin-right: calc(7%);
    display: grid;
    grid-template-columns: 0.75fr 1fr;
    gap: 40px;
    padding-bottom: 40px;
}
.img {
    background-image: url(./Quibo\ tech\ \(2\).png);
    height: 400px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
}
.hero2-right {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about-us-section {
    padding-bottom: 20px;
}
.about-img {
    background-image: linear-gradient(to bottom, #43220094, #432100b4), url(./Quibo\ tech\ \(3\).png);
    height: 60vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.about-img-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60vh;
    margin-left: calc(7%);
    margin-right: calc(7%);
    padding-top: 20px;
    padding-bottom: 20px;
}
.about-img-text>h1,.services-left>h1,.contact-img>h1 {
    color: #ff5e00;
    font-weight: 700;
    font-size: clamp(25px,4vw,65px);
}
.services-left>h1 {
    color: black;
}
.s-card-section>h1 {
    color: whitesmoke;
}
.about-img-text>p {
    color: whitesmoke;
    font-size: clamp(5px,3vw,17px);
    max-width: 800px;
}
.about-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly ;
    margin-left: calc(7%);
    margin-right: calc(7%);
    gap: 50px;
    align-items: center;
}
.about-card {
    background-color: #ff7829;
    color: whitesmoke;
    border-radius: 16px;
    padding: 20px;
    height: 350px;
    width: 270px;
}
.about-card>h5 {
    font-weight: 700;
    color: #234567;
}
.about-card>p {
    font-size: clamp(5px,4vw,15px);
}
.services-section {
    margin-left: calc(7%);
    margin-right: calc(7%);
    display: grid;
    grid-template-columns: 1.5fr 0.5fr;
}
.bg-gray  {
    background-color: #eadfd7;
    padding-top: 30px;
}
.services-left {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.services-cards {
    padding-top: 50px;
    height: 350px;
    background-color: rgb(69, 69, 69);
    padding-left: calc(7%);
    padding-right: calc(7%);
}
.s-card-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    gap: 50px;
}
.services-card {
    height: 320px;
    max-width: 270px;
    background-color: #ff7829;
    border-radius: 16px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.services-card>h5 {
    color: #234567;
    font-weight: 700;
}
.more-info>h6 {
    text-decoration: none;
    color: white;
    font-size: 12px !important;
}
.services-button {
    text-align: center;
}
.contact-section  {
    margin-top: 200px;
}
@media only screen and (max-width:685px) {
    .contact-section {
        margin-top: 1260px;
    }
    .navbar-brand>img {
        height: 30px;
    }
    .cta:before {
        height: 35px;
        width: 35px;
        margin-top: 5px;
    }
    .cta>span {
        font-size: 15px;
    }
    .cta:hover::before {
        width: 145px;
    }
    .contact-left {
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .contact-img>h1 {
        padding-top: 150px !important;
    }
    .c-left>img {
        height: 20px !important;
        margin-top: 15px;
    }
}
@media only screen and (min-width:686px) and (max-width:1428px) {
    .contact-section {
        margin-top: 560px;
    }
}
.contact-img {
    background-image: url(./Untitled\ \(1\).png);
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.contact-img>h1 {
    padding-left: calc(7%);
    padding-right: calc(7%);
    color: whitesmoke;
    text-align: center;
    padding-top: 80px;
    justify-content: center;
    align-items: center;
    height: 45vh;
}
.nav-1 {
    padding-top: 30px !important;
}
.nav-1>a {
    color: white !important;
    font-size: 30px !important;
    font-weight: 500;
}
span {
    color: #ff5e00;
}
.contact-box {
    padding-left: calc(7%);
    padding-right: calc(7%);
    padding-top: 30px;
    background-color: rgb(69, 69, 69);
    padding-bottom: 50px;
}
.contact-left {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 50px;
}
.c-left {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    align-items: start;
}
.c-left>p {
    display: flex;
    height: 50px;
    color: whitesmoke;
    justify-content: center;
    align-items: center;
}
.contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}
.contact-right {
    padding-top: 30px;
}
.part-1 {
    display: flex;
    gap: 20px;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    width: 100%;
    padding-bottom: 20px;
}
.part-2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.name,.email,.subject,.message-title {
    color: whitesmoke;
}
.enter-name,
.enter-email {
    flex: 1;
}
#name, #email, #subject {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
    font-weight: 500;
    color: black;
}
#message {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
    font-weight: 500;
    color: black;
}
.btn-btn {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.btn-1 {
    height: 40px;
  width: 12em;
    border-radius: 12px;
    border-color: #ff5e00;
    background-color: transparent;
    color: #ff5e00;
    transition: 0.3s;
}
.btn-1:hover {
    background-color: #ff5e00;
    color: white;
}


  

